<% content_for(:title) { "Chartbeat Dashboard" } %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="chartbeat_toppages" data-view="List" data-title="Top Pages"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="chartbeat_people" data-view="Meter" data-moreinfo="People on pages" data-title="People" data-min="0" data-max="0"></div>
    </li>
  </ul>
</div>