<% content_for(:title) { "Chartbeat Dashboard" } %>

<div class="gridster">
  <ul>
    <li data-row="1" data-col="1" data-sizex="2" data-sizey="1">
      <div data-id="chartbeat_toppages" data-view="Chartbeat_Toppages" data-host="example.com" data-title="Top Pages [example.com]"></div>
    </li>

    <li data-row="1" data-col="3" data-sizex="1" data-sizey="1">
      <div data-id="chartbeat_people" data-view="Chartbeat_People" data-host="example.com" data-moreinfo="People on [example.com]" data-title="People" data-min="0" data-max="0"></div>
    </li>
  </ul>
</div>